@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply bg-background text-foreground;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


